---
import Stat from "./Stat.astro";
---

<dl class="w-64 space-y-8 xl:w-80">
  <div class="flex flex-col-reverse gap-y-4">
    <Stat
      label="Crashes every week on McGuinness Blvd. resulting in injury and/or property damage."
      value="19"
    />
  </div>
  <div class="flex flex-col-reverse gap-y-4">
    <Stat label="Cyclists commuting on Mcguinness daily" value="7.2 thousand" />
  </div>
  <div class="flex flex-col-reverse gap-y-4">
    <Stat label="New users annually" value="46,000" />
  </div>
</dl>
