---
import { Meta } from "astro/meta";
---

<Meta charset="UTF-8" />
<Meta name="description" content="Astro description" />
<Meta name="viewport" content="width=device-width" />
<Meta name="generator" content={Astro.generator} />
<Meta charset="UTF-8" />
<Meta http-equiv="X-UA-Compatible" content="IE=edge" />
<Meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
/>
<Meta name="mobile-web-app-capable" content="yes" />
<Meta property="og:title" content="Make McGuinness Safe" />
<Meta
    property="og:description"
    content="Reject car domination. Cities are for people, not cars!"
/>
<Meta
    property="og:image"
    content="https://keepmcguinnessmoving.com/assets/og_image.png"
/>
<Meta property="og:url" content="https://keepmcguinnessmoving.com" />
<Meta property="og:type" content="website" />
<Meta name="twitter:card" content="summary_large_image" />

<link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
/>
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="assets/apple-touch-icon.png" />

<title>Make McGuinness Safe</title>
<noscript
    ><link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap"
    /></noscript
>
