---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="bg-white dark:bg-slate-900">
      <Header />

      <main class="isolate">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
